Ipheidi/Droid/bin/Debug/com.pheidi.ipheidi-Signed.apk
Ipheidi/Droid/bin/Debug/com.pheidi.ipheidi.apk
Ipheidi/Droid/bin/Debug/Ipheidi.dll
Ipheidi/Droid/bin/Debug/Ipheidi.dll.mdb
Ipheidi/Droid/bin/Debug/Ipheidi.Droid.dll
Ipheidi/Droid/bin/Debug/Ipheidi.Droid.dll.mdb
Ipheidi/Droid/obj/Debug/Ipheidi.Droid.csproj.FilesWrittenAbsolute.txt
Ipheidi/Droid/obj/Debug/Ipheidi.Droid.dll
Ipheidi/Droid/obj/Debug/Ipheidi.Droid.dll.mdb
Ipheidi/Droid/obj/Debug/libraryprojectimports.cache
Ipheidi/Droid/obj/Debug/resolved_assemblies.txt
Ipheidi/Droid/obj/Debug/android/assets/Ipheidi.dll
Ipheidi/Droid/obj/Debug/android/assets/Ipheidi.dll.mdb
Ipheidi/Droid/obj/Debug/android/assets/Ipheidi.Droid.dll
Ipheidi/Droid/obj/Debug/android/assets/Ipheidi.Droid.dll.mdb
Ipheidi/Droid/obj/Debug/android/bin/com.pheidi.ipheidi.apk
Ipheidi/Droid/obj/Debug/linkdst/Ipheidi.Droid.dll
Ipheidi/Droid/obj/Debug/linkdst/Ipheidi.Droid.dll.mdb
Ipheidi/Droid/obj/Debug/linksrc/Ipheidi.dll
Ipheidi/Droid/obj/Debug/linksrc/Ipheidi.dll.mdb
Ipheidi/Droid/obj/Debug/linksrc/Ipheidi.Droid.dll
Ipheidi/Droid/obj/Debug/linksrc/Ipheidi.Droid.dll.mdb
Ipheidi/Ipheidi/bin/Debug/Ipheidi.dll
Ipheidi/Ipheidi/bin/Debug/Ipheidi.dll.mdb
Ipheidi/Ipheidi/obj/Debug/Ipheidi.csproj.FilesWrittenAbsolute.txt
Ipheidi/Ipheidi/obj/Debug/Ipheidi.dll
Ipheidi/Ipheidi/obj/Debug/Ipheidi.dll.mdb
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/1fe0d570504141e7b7e59a76f571e20f/System.Runtime.Serialization.dll
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/1fe0d570504141e7b7e59a76f571e20f/System.Runtime.Serialization.dll.mdb
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/35eaeb3a40be4cc0aa25281142d7fdc1/System.ServiceModel.Internals.dll
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/35eaeb3a40be4cc0aa25281142d7fdc1/System.ServiceModel.Internals.dll.mdb
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/35f47cf9b32d4fdcbb08ac3b62a6d6a8/System.Core.dll
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/35f47cf9b32d4fdcbb08ac3b62a6d6a8/System.Core.dll.mdb
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/3ae78e70485b4d9bbeb0b9750fd37e05/System.Net.Http.dll
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/3ae78e70485b4d9bbeb0b9750fd37e05/System.Net.Http.dll.mdb
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/3f65d9aec6d1440aa5e0f6e3f2615d0f/System.dll
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/3f65d9aec6d1440aa5e0f6e3f2615d0f/System.dll.mdb
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/4384b60b7141402caab76ee2ed4d0b70/System.Numerics.dll
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/4384b60b7141402caab76ee2ed4d0b70/System.Numerics.dll.mdb
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/613aa55acf644b20901a633d84d42b13/Ipheidi.Droid.dll
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/613aa55acf644b20901a633d84d42b13/Ipheidi.Droid.dll.mdb
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/616a266e94ce44428119745e131e1934/mscorlib.dll
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/616a266e94ce44428119745e131e1934/mscorlib.dll.mdb
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/9a3bc20368a94c8aa10116e985c92b84/System.Xml.dll
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/9a3bc20368a94c8aa10116e985c92b84/System.Xml.dll.mdb
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/a91dcbc5d42748909cc3b320ddd68b12/System.Json.dll
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/a91dcbc5d42748909cc3b320ddd68b12/System.Json.dll.mdb
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/c954b7b27b4a466ab4dea9b06d912e9a/Mono.Android.dll
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/c954b7b27b4a466ab4dea9b06d912e9a/Mono.Android.dll.mdb
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/cdf40636a4e247e5b52040d67792384c/Java.Interop.dll
Ipheidi/Droid/bin/Release/com.pheidi.ipheidi.apk.mSYM/cdf40636a4e247e5b52040d67792384c/Java.Interop.dll.mdb
Ipheidi/Droid/obj/Debug/uploadflags.txt
Ipheidi/Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.Design/library_project_imports/res/animator-v21/design_appbar_state_list_animator.xml
Ipheidi/Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.Design/library_project_imports/res/drawable-v21/avd_hide_password.xml
Ipheidi/Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.Design/library_project_imports/res/drawable-v21/avd_show_password.xml
Ipheidi/Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.Design/library_project_imports/res/layout/design_bottom_sheet_dialog.xml
Ipheidi/Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v7.AppCompat/library_project_imports/res/layout/abc_action_menu_layout.xml
Ipheidi/Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v7.AppCompat/library_project_imports/res/layout/abc_action_mode_close_item_material.xml
Ipheidi/Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v7.AppCompat/library_project_imports/res/layout/abc_screen_toolbar.xml
Ipheidi/Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v7.AppCompat/library_project_imports/res/layout/abc_select_dialog_material.xml
Ipheidi/Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v7.AppCompat/library_project_imports/res/layout-v11/notification_media_cancel_action.xml
Ipheidi/iOS/obj/iPhoneSimulator/Release/Ipheidi.iOS.csproj.FilesWrittenAbsolute.txt
Ipheidi/iOS/obj/iPhoneSimulator/Release/Ipheidi.iOS.exe
Ipheidi/iOS/obj/iPhoneSimulator/Release/Ipheidi.iOS.exe.mdb
Ipheidi/iOS/obj/iPhoneSimulator/Release/mtouch-cache/arguments
Ipheidi/iOS/obj/iPhoneSimulator/Release/mtouch-cache/linked-assemblies.txt
Ipheidi/iOS/obj/iPhoneSimulator/Release/mtouch-cache/main.i386.o
Ipheidi/iOS/obj/iPhoneSimulator/Release/mtouch-cache/Build/Ipheidi.dll
Ipheidi/iOS/obj/iPhoneSimulator/Release/mtouch-cache/Build/Ipheidi.iOS.exe
Ipheidi/iOS/obj/iPhoneSimulator/Release/mtouch-cache/Build/Ipheidi.iOS.exe.mdb
Ipheidi/iOS/obj/iPhoneSimulator/Release/mtouch-cache/Link/Ipheidi.dll
Ipheidi/iOS/obj/iPhoneSimulator/Release/mtouch-cache/Link/Ipheidi.iOS.exe
Ipheidi/iOS/obj/iPhoneSimulator/Release/mtouch-cache/Link/Ipheidi.iOS.exe.mdb
Ipheidi/iOS/obj/iPhoneSimulator/Release/mtouch-cache/PreBuild/Ipheidi.dll
Ipheidi/iOS/obj/iPhoneSimulator/Release/mtouch-cache/PreBuild/Ipheidi.iOS.exe
Ipheidi/iOS/obj/iPhoneSimulator/Release/mtouch-cache/PreBuild/Ipheidi.iOS.exe.mdb
Ipheidi/Ipheidi/bin/Release/Ipheidi.dll
Ipheidi/Ipheidi/obj/Debug/Ipheidi.LoginPage.xaml
Ipheidi/Ipheidi/obj/Release/Ipheidi.dll
Ipheidi/Ipheidi/obj/Release/Ipheidi.LoginPage.xaml
Ipheidi/iOS/bin/iPhoneSimulator/Release/Ipheidi.dll
Ipheidi/iOS/bin/iPhoneSimulator/Release/Ipheidi.iOS.exe
Ipheidi/iOS/bin/iPhoneSimulator/Release/Ipheidi.iOS.exe.mdb
Ipheidi/iOS/bin/iPhoneSimulator/Release/Ipheidi.iOS.app/Info.plist
Ipheidi/iOS/bin/iPhoneSimulator/Release/Ipheidi.iOS.app/Ipheidi.dll
Ipheidi/iOS/bin/iPhoneSimulator/Release/Ipheidi.iOS.app/Ipheidi.iOS
Ipheidi/iOS/bin/iPhoneSimulator/Release/Ipheidi.iOS.app/Ipheidi.iOS.exe
