Ipheidi/Droid/bin/Debug/com.pheidi.ipheidi-Signed.apk
Ipheidi/Droid/bin/Debug/com.pheidi.ipheidi.apk
Ipheidi/Droid/bin/Debug/Ipheidi.dll
Ipheidi/Droid/bin/Debug/Ipheidi.dll.mdb
Ipheidi/Droid/bin/Debug/Ipheidi.Droid.dll
Ipheidi/Droid/bin/Debug/Ipheidi.Droid.dll.mdb
Ipheidi/Droid/obj/Debug/Ipheidi.Droid.csproj.FilesWrittenAbsolute.txt
Ipheidi/Droid/obj/Debug/Ipheidi.Droid.dll
Ipheidi/Droid/obj/Debug/Ipheidi.Droid.dll.mdb
Ipheidi/Droid/obj/Debug/libraryprojectimports.cache
Ipheidi/Droid/obj/Debug/resolved_assemblies.txt
Ipheidi/Droid/obj/Debug/android/assets/Ipheidi.dll
Ipheidi/Droid/obj/Debug/android/assets/Ipheidi.dll.mdb
Ipheidi/Droid/obj/Debug/android/assets/Ipheidi.Droid.dll
Ipheidi/Droid/obj/Debug/android/assets/Ipheidi.Droid.dll.mdb
Ipheidi/Droid/obj/Debug/android/bin/com.pheidi.ipheidi.apk
Ipheidi/Droid/obj/Debug/linkdst/Ipheidi.Droid.dll
Ipheidi/Droid/obj/Debug/linkdst/Ipheidi.Droid.dll.mdb
Ipheidi/Droid/obj/Debug/linksrc/Ipheidi.dll
Ipheidi/Droid/obj/Debug/linksrc/Ipheidi.dll.mdb
Ipheidi/Droid/obj/Debug/linksrc/Ipheidi.Droid.dll
Ipheidi/Droid/obj/Debug/linksrc/Ipheidi.Droid.dll.mdb
Ipheidi/Ipheidi/bin/Debug/Ipheidi.dll
Ipheidi/Ipheidi/bin/Debug/Ipheidi.dll.mdb
Ipheidi/Ipheidi/obj/Debug/Ipheidi.csproj.FilesWrittenAbsolute.txt
Ipheidi/Ipheidi/obj/Debug/Ipheidi.dll
Ipheidi/Ipheidi/obj/Debug/Ipheidi.dll.mdb
